<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record</title>
</head>
<body>
    {% block content %}

    <div class="container">

        <h4>Update Record</h4>

        
    <form action="/updatereg/{{regs.firstname}}" method="post">
        {% csrf_token %}

        <div class="form group">
            <input type="text" name="firstname" value="{{regs.firstname}}" placeholder="First Name" class="form-control">
        </div><br>

        <div class="form group">
            <input type="text" name="lastname" value="{{regs.lastname}}" placeholder="Last Name" class="form-control">
        </div><br>

        <div class="form group">
            <input type="number" name="age" value="{{regs.age}}" placeholder="Age" class="form-control">
        </div><br>

        <div class="form group">
            <label for="sex">Sex:</label>
            <select name="sex" id="sex">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div><br>

        <div class="form group">
            <label for="religion">Religion:</label>
            <select name="religion" id="religion">
                <option value="Islam">Islam</option>
                <option value="Christainity">Christainity</option>
                <option value="Judaism">Judaism</option>
                <option value="Buddism">Buddism</option>
                <option value="Hinduism">Hinduism</option>
                <option value="Sikhism">Sikhism</option>
                <option value="None">None</option>
            </select>

        </div><br>

        <div>
            <button type="Submit" value="Submit">Update Record</button>
            <button><a href="{% url 'showreg' %}">Show Record</a></button>
      </div>



    </div>

    {% endblock content %}
</body>
</html>